CACHE_TTL=3600
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
CBR_API_URL=https://www.cbr.ru/scripts/XML_daily.asp
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_QUEUE=cbr_rates